* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.navegacion {
  font-style: sans serif;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #2572b6; }
  .navegacion img {
    margin: 10px; }
  .navegacion li:hover {
    background-color: #76bbe7; }
  .navegacion li a {
    color: #d8f5fa; }

body {
  background-image: url(../resources/img/chule.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.contenido-principal {
  align-items: center;
  margin: auto;
  max-width: 1200px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }

.animate__animated {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #10c4f1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 40px; }

article h2 {
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 25px;
  padding-top: 30px; }

.videos {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.footer {
  width: 100%;
  background-color: #2572b6;
  margin-bottom: 0px; }
  .footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 20px;
    padding: 15px 0px;
    align-items: center;
    justify-items: center; }
  .footer .box figure {
    width: 100%;
    height: 100%; }
  .footer img {
    width: 100px;
    margin: -25px; }
  .footer h2 {
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center; }
  .footer a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease; }
  .footer li {
    display: flex;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .footer i {
    margin: 10px; }
  .footer .grupo2 {
    background-color: #01090c;
    padding: 15px 10px;
    text-align: center;
    color: white; }

@media (max-width: 720px) {
  .animate__animated {
    text-align: center;
    justify-content: center; } }

@media (max-width: 724px) {
  .videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; } }

@media (max-width: 1024px) {
  .footer .grupo1 {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px;
    padding: 35px 0px;
    justify-content: center;
    align-items: center; } }

.navegacion {
  font-style: sans serif;
  text-transform: uppercase;
  font-size: 20px; }

.titulo {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.galeria {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }

.foto img {
  width: 220px;
  height: 130px;
  border-radius: 25px;
  border: solid 2px;
  color: white; }

.foto img:hover {
  filter: brightness(120%);
  color: #00ff8c; }

.titulo {
  display: flex;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px; }

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1220px;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }
  .article p {
    color: white;
    align-items: center;
    margin: 20px; }
  .article .titulos {
    grid-area: titulos; }
  .article .comienzos {
    grid-area: comienzos; }
  .article .el-estadio {
    grid-area: el-estadio; }
  .article .presente {
    grid-area: presente; }
  .article .aside {
    grid-area: aside;
    padding: 15px; }

@media (max-width: 430px) {
  .aside {
    width: 350px;
    height: 135px; } }

.titulo {
  display: flex;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
   }

.socios {
  color: white;
  box-sizing: border-box;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  margin: 20px; }
  .socios h2 {
    padding-top: 10px; 
  }
