@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

header .navegacion {
  font-style: "Dangrek", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #3eade9; }

header img {
  margin: 10px; }

header ul {
  background-color: #dfe9ee;
  background: linear-gradient(rgba(210, 213, 220, 0.75), rgba(2, 6, 17, 0.25)); }

header li:hover {
  background-color: #dfe9ee; }

header li .nav-link {
  color: #dfe9ee; }

body {
  background-image: url(https://bit.ly/3IOMFGB);
  background-size: cover;
  background-repeat: no-repeat; }

.contenido-principal {
  align-items: center;
  margin: auto;
  max-width: 125vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }
  .contenido-principal .animate__animated {
    display: flex;
    font-family: "Dangrek", sans-serif;
    font-size: 60px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding-top: 40px; }
  .contenido-principal h2 {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    margin: 25px;
    padding-top: 5rem;
    text-align: center; }

div {
  width: auto; }

.escudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center; }

.videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  padding-bottom: 20px; }

.galeria {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center; }

.foto img, div .col img {
  width: 220px;
  height: 130px;
  border-radius: 25px;
  border: solid 2px;
  color: #dfe9ee; }

.foto :hover, div .col :hover {
  filter: brightness(120%);
  color: #4f2ccf; }

.article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .article p {
    color: white;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    margin: 20px; }
  .article .titulos {
    grid-area: titulos; }
  .article .comienzos {
    grid-area: comienzos; }
  .article .el-estadio {
    grid-area: el-estadio; }
  .article .presente {
    grid-area: presente; }
  .article .aside {
    grid-area: aside;
    padding: 15px; }

@media (max-width: 438px) {
  .article p {
    font-size: 1rem; } }

div .col img {
  width: auto;
  height: auto; }

.contenido-principal {
  color: #dfe9ee; }

.login, .seccion2 {
  display: grid;
  justify-items: center; }

.seccion2 h3 {
  padding-top: 20px;
  font-size: 30px; }

.seccion2__iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding-bottom: 2em; }

.footer {
  width: 100%;
  background-color: #3e9ce9;
  margin-bottom: 0px; }
  .footer .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 20px;
    padding: 15px 0px;
    align-items: center;
    justify-items: center; }
  .footer .box figure {
    width: 100%;
    height: 100%; }
  .footer img {
    width: 100px;
    margin: -25px; }
  .footer h2 {
    color: #dfe9ee;
    display: flex;
    font-size: 20px;
    justify-content: center; }
  .footer a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #dfe9ee;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease; }
  .footer li {
    display: flex;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #dfe9ee;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .footer i {
    margin: 10px; }
  .footer .grupo2 {
    background-color: #01090c;
    padding: 15px 10px;
    text-align: center;
    color: #dfe9ee; }

@media (max-width: 1024px) {
  .footer .grupo1 {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px;
    padding: 35px 0px;
    justify-content: center;
    align-items: center; } }
