//paleta de colores
$white: #dfe9ee;
$celeste: rgb(62, 156, 233);
$celeste-nav: rgb(62, 213, 233);
$gradient: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));


//fuentes


@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

$fuente-titulo: "Dangrek", sans-serif;