body {
    background-image: url(../resources/img/chule.jpg);
    background-size: cover;
}

.contenido-principal {
    align-items: center;
    margin: auto;
    max-width: (100vh/0.8);
    background: $gradient;

.animate__animated {

    display: flex;
    font-family: $fuente-titulo;
    font-size: 60px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding-top: 40px;
}


    h2 {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.8;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
        margin: 25px;
        padding-top: 5rem;
        text-align: center;
    }
}

.escudo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    padding-bottom: 20px;
}