header {
    .navegacion {
        font-style: sans serif;
        text-transform: uppercase;
        font-size: 20px;
        background-color: rgb(62, 156, 233);


    }

    img {
        margin: 10px;
    }

    ul {
        background-color: rgb(223, 233, 238);
        background: linear-gradient(rgba(210, 213, 220, 0.75), rgba(2, 6, 17, 0.25));
    }

    li {
        &:hover {
            background-color: $white;

        }

        .nav-link {

            color: $white;
        }
    }
}