header {
    .navegacion {
        font-style: $fuente-titulo;
        text-transform: uppercase;
        font-size: 20px;
        background-color: $celeste-nav;
    }

    img {
        margin: 10px;
    }

    ul {
        background-color: $white;
        background: linear-gradient(rgba(210, 213, 220, 0.75), rgba(2, 6, 17, 0.25));
    }

    li {
        &:hover {
            background-color: $white;

        }

        .nav-link {

            color: $white;
        }
    }
}