.galeria {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
  
}

.foto {
  img {
    width: 220px;
    height: 130px;
    border-radius: 25px;
    border: solid 2px;
    color: white;
  }

  :hover {
    filter: brightness(120%);
    color: rgb(0, 255, 140);

  }
}


