.contenido-principal {
    color: white;
    padding: 10px;
}

h2 {
    padding-top: 1rem;
}

.iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 5em;
}