.navegacion {
  font-style: sans serif;
  text-transform: uppercase;
  font-size: 20px;}
  
.titulo {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.galeria {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  
}

.foto img {

  width: 220px;
  height: 130px;
  border-radius: 25px;
  border: solid 2px;
  color: white;}

  .foto img:hover {
     filter:brightness(120%);
     color: rgb(0, 255, 140);
  }

 




