.navegacion {
  font-style: sans serif;
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgb(0, 174, 255);

  ul {
    background-color: rgb(36, 95, 204);
  }

  li {
    &:hover {
      background-color: white;
    }

    a {
      color: white;
    }

  }

}

.main {
  display: grid;
  background-color: rgb(19, 137, 215);
}

.titulo {
  display: flex;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.galeria {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
}


.foto img {

  width: 250px;
  height: 155px;
}












.footer {
  grid-area: footer;
}