.contenido-principal {
    color: $white;
    padding: 10px;
}

.login {
    display: grid;
    justify-items: center;
}

.seccion2 {
    @extend .login;

    h3 {
        padding-top: 20px;
        font-size: 30px;
    }




    &__iframe {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        padding-bottom: 2em;
    }
}